
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: rgb(126, 161, 145);
}
header {
    min-height: 300px;
    background-image: url(https://images.pexels.com/photos/3875091/pexels-photo-3875091.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div {
    margin: 50px 150px;
    padding: 50px;
    border-style:solid;
    border-color: white;
    color: white;
    text-align: center;
}

.header-content h1 {
    font-family: Nunito;
    font-size: 14px;
}
.header-content p {
    font-family: "DM Serif Display";
    line-height: 50px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 40px;
}
.flexmiddle {
    display: flex;
    text-align:left;
    margin: 30px 40px;
}
.flexmiddle div {
    margin: 40px;
    width: 50%;
}

.flexmiddle h1 {
    color: white;
    line-height: 90px;
    font-family: Heebo;
    font-size: 110px;

}.flexmiddle div .title {
    line-height: 40px;
    color: black;
    font-size: 20px;
}

.flexmiddle div p {
    color: black;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: row;
    margin: 0;

}
footer #f1 {
    margin: 0;
    background-color: rgb(170, 149, 106);
    width: 50%;
}
footer #f1 .texto {
    margin: 50px;
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
}
footer #f1 img {
    width: 100%;
}
footer #f2 {
    margin: 0;    
    background-color: white;
    width: 50%;
}
footer #f2 div {
    margin: 40px;
    text-align: center;
    font-size: 28px;
}
footer #f2 img {
    width: 100%;
}
footer #f2 button {
    border: 0;
    padding: 10px 15px;
    background-color:white;
    border: solid;
    border-color: black;
    border-width: 1px;
    font-family: Nunito;
    font-size: 14px;
}